import IconIndex from "../node_modules/@ikkowy/icons/icons.json";

import IwyIcon from "./components/IwyIcon.vue";

$[IMPORTS];

export default {
  install: (app, options) => {
    app.component("IwyIcon", IwyIcon);

$[INSTALLS];
  },
};

export { IconIndex };
